<nav
    class="flex text-[9.5px] justify-start gap-4 bg-[#F3F0F1]/75 px-4 py-1 rounded mt-2"
>
    <a href="http://jaideepguntupalli.com" target="_blank"
        >Website: <span class="font-bold"> jaideepguntupalli.com</span></a
    >
    <a href="http://github.com/JaideepGuntupalli" target="_blank"
        >Github: <span class="font-bold"> @JaideepGuntupalli</span></a
    >
    <a href="http://linkedin.com/in/gjdeep" target="_blank"
        >Linkedin: <span class="font-bold"> @gjdeep</span></a
    >
    <!--<a href="http://twitter.com/gjdeep" target="_blank">twitter: <span class="font-bold> a@gjdeep</>-->
    <a href="mailto:guntupallijaideep@gmail.com" target="_blank"
        >Mail: <span class="font-bold">guntupallijaideep@gmail.com</span></a
    >
</nav>
